html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#header {
    width: 100%;
    margin: 0;
}

h1 {
    margin: 0;
}

#main {
    display: flex;
}

#leftarea {
    flex: 1;
}

#scoreboardarea {

}

#clickerarea {

}

#rightarea {
    flex: 1;
}

#upgrades {

}

#rewards {

}