html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#header {
    width: 100%;
    margin: 0;
    background-color: red;
}

h1 {
    margin: 0;
}

#main {
    display: flex;
}

#buttonarea {
    background-color: blue;
    flex: 1;
}

#upgradesarea {
    background-color: green;
    flex: 1;
}