* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e9eef5;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #171a21;
    margin: 0;
}

#header {
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #1d232f;
    border-radius: 10px;
    padding: 2px;
}

#main {
    display: flex;
}

#leftarea {
    flex: 1;
}

#scoreboardarea {
    text-align: center;
}

#clickerarea {

}

#rightarea {
    flex: 1;
}

#upgrades {

}

#automaticTimer {
    visibility: hidden;
}

#rewards {

}